/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob2_SalesPrediction/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob2_SalesPrediction/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Pron3_SalesTax/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Pron3_SalesTax/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob4_RestaurantBill/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob4_RestaurantBill/dist/
/Homework/Assignment1/Gaddis_8thEd_chap2_Prob5_AverageofValues/build/
/Homework/Assignment1/Gaddis_8thEd_chap2_Prob5_AverageofValues/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob6_AnnualPay/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob6_AnnualPay/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob11_DistanceperTankofGas/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob11_DistanceperTankofGas/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob3_TestAverage/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob3_TestAverage/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob4_AverageRainfall/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob4_AverageRainfall/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob5_MaleandFemalePercentage/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob5_MaleandFemalePercentage/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob6_IngredientAdjuster/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob6_IngredientAdjuster/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob7_BoxOffice/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob7_BoxOffice/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob8_HowManyWidgets/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob8_HowManyWidgets/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob9_HowManyCallories/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob9_HowManyCallories/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob10_HowMuchInsurance/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob10_HowMuchInsurance/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob24_WordGame/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob24_WordGame/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob23_StockTransactionProgram/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob23_StockTransactionProgram/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob1_MinimumMaximum/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob1_MinimumMaximum/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob2_RomanNumeralConverter/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob2_RomanNumeralConverter/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob1_MinimumMaximum/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob1_MinimumMaximum/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob2_RomanNumeralConverter/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob2_RomanNumeralConverter/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob3_MagicDates/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob3_MagicDates/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob4_AreasOfRectangles/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap4_Prob4_AreasOfRectangles/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob4_AreasOfRectangles/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob4_AreasOfRectangles/dist/
/Homework/Assignment 3/CppApplication_1/build/
/Homework/Assignment 3/CppApplication_1/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob3_MagicDates/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob3_MagicDates/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob5_BodyMassIndex/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob5_BodyMassIndex/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob6_MassAndWeight/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob6_MassAndWeight/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob7_TimeCalculator/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob7_TimeCalculator/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob8_ColorMixer/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob8_ColorMixer/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob9_ChangeForADollarGame/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob9_ChangeForADollarGame/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob12_SoftwareSales/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob12_SoftwareSales/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob19_SpectralAnalysis/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob19_SpectralAnalysis/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob10_LeapYear/build/
/Homework/Assignment 3/Gaddis_8thEd_Chap4_Prob10_LeapYear/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap5_Prob1_SumofNumbers/dist/
/Homework/Assignment 3/Gaddis_8thEd_Chap5_Prob1_SumofNumbers/build/
/Homework/Assignment 4/CppApplication_7/build/
/Homework/Assignment 4/CppApplication_7/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob3_OceanLevels/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob3_OceanLevels/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob4_CaloriesBurned/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob4_CaloriesBurned/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob5_MembershipFeesIncrease/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob5_MembershipFeesIncrease/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob6_DistanceTraveled/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob6_DistanceTraveled/build/
/Homework/Assignment 4/CppApplication_1/dist/
/Homework/Assignment 4/CppApplication_1/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob7_PenniesForPay/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob7_PenniesForPay/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob8_MathTutor/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob8_MathTutor/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob1_SumofNumbers/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob1_SumofNumbers/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob9_HotelOccupancy/dist/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob9_HotelOccupancy/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob10_AverageRainfall/build/
/Homework/Assignment 4/Gaddis_8thEd_Chap5_Prob10_AverageRainfall/dist/