/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob2_SalesPrediction/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob2_SalesPrediction/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Pron3_SalesTax/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Pron3_SalesTax/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob4_RestaurantBill/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob4_RestaurantBill/dist/
/Homework/Assignment1/Gaddis_8thEd_chap2_Prob5_AverageofValues/build/
/Homework/Assignment1/Gaddis_8thEd_chap2_Prob5_AverageofValues/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob6_AnnualPay/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob6_AnnualPay/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob11_DistanceperTankofGas/build/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob11_DistanceperTankofGas/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/dist/
/Homework/Assignment1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob3_TestAverage/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob3_TestAverage/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob4_AverageRainfall/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob4_AverageRainfall/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob5_MaleandFemalePercentage/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob5_MaleandFemalePercentage/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob6_IngredientAdjuster/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob6_IngredientAdjuster/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob7_BoxOffice/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob7_BoxOffice/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob8_HowManyWidgets/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob8_HowManyWidgets/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob9_HowManyCallories/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob9_HowManyCallories/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob10_HowMuchInsurance/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob10_HowMuchInsurance/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob24_WordGame/build/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob24_WordGame/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob23_StockTransactionProgram/dist/
/Homework/Assignment 2/Gaddis_8thEd_Chap3_Prob23_StockTransactionProgram/build/